body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#piano {
    display: flex;
    justify-content: start;
    align-items: start;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f70c0c;
    padding: 10px;
    position: relative;
    height: 200px;
    width: 955px; 
}

.key {
    display: inline-block;
    height: 200px;
    width: 40px;
    border: 1px solid #000;
    margin: 0 2px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.key-label {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    pointer-events: none;
    }

.white {
    background-color: #fff;
    width: 40px;
    z-index: 1;
}

.white .key-label {
    color: #000;
}

.black {
    background-color: #000;
    height: 120px;
    width: 30px;
    position: absolute;
    z-index: 2;
}

#controls {
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
}